.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.create-game-button{
  background-color: green;
  color:white;
  border-width:0px;
  border-radius:5px;
  height:26px;
  width:180px;
  font-size:18px;
  margin:10px;
}
.user-name-input{
  width:230px;
  height:25px;
}
.room-code-input{
  width:230px;
  height:25px;
  margin-top:10px;
}
.join-game-button{
  background-color: blue;
  color:white;
  border-width:0px;
  border-radius:5px;
  height:26px;
  width:180px;
  font-size:18px;
  margin:10px;
}
.game-board{
  height:400px;
  width:400px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}
.square{
  flex:33%;
  height:100%;
  place-items:center;
  border:solid 1px black;
  display:grid;
  font-size:30px;
  cursor:pointer;
  color:black;
}
.row{
  flex:33%;
  display:flex;
  flex-direction: row;
}